/* === Import de la police === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* === Import Tailwind v4 === */
@import "tailwindcss/theme";

/* === Définition du thème === */
@theme {
  
 --color-myYellow: #F9EE34;
 --color-myGray : #F5F5F578;
 --color-myBlack : #1C1C1C;        
 --color-myGray2: #999999;
 --color-myWhite: #FFFFFF;
 --color-myGray3 : #dfdedd;
/*dark*/
  --color-mydarkYellow: #FF0000;       /* Tu peux garder la même couleur primaire */
  --color-mydrakGray: #33333388;       /* Exemple pour gris clair → sombre */
  --color-mydarkBlack: #DFDEDD;        /* Inverse de ton noir pour contraste */
  --color-mydarkGray2: #BBBBBB;        /* Gris secondaire plus clair pour dark mode */
  --color-mydarkWhite: #1C1C1C;        /* Blanc devient noir pour dark mode */
  --color-mydarkGray3: #2C2C2C;        /* Gris neutre sombre */


  
}





/* === Styles globaux personnalisés === */
:root {
  --font-sans: 'Poppins', sans-serif;
  font-family: var(--font-sans);
}