
/* === Import de la police === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* === Import Tailwind v4 === */
@import "tailwindcss/theme";
@import "tw-animate-css";

/* === Définition du thème === */
@theme {
  
 --color-myYellow: #F9EE34;
 --color-myYellow2:#FFECA2;
 --color-myGray : #F5F5F578;
 --color-myBlack : #1C1C1C;        
 --color-myGray2: #999999;
 --color-myWhite: #FFFFFF;
 --color-myGray3 : #dfdedd;
 --color-myGray4:#EAEAEA;
 /*dark*/
  --color-mydarkYellow: #F9EE34;       /* Tu peux garder la même couleur primaire */
  --color-mydrakGray: #33333388;       /* Exemple pour gris clair → sombre */
  --color-mydarkBlack: #DFDEDD;        /* Inverse de ton noir pour contraste */
  --color-mydarkGray2: #BBBBBB;        /* Gris secondaire plus clair pour dark mode */
  --color-mydarkWhite: #1C1C1C;        /* Blanc devient noir pour dark mode */
  --color-mydarkGray3: #2C2C2C;        /* Gris neutre sombre */


  
}


/* ===== Scrollbar custom pour la liste des conversations ===== */
.conv-scroll::-webkit-scrollbar-thumb {
  background: var(--color-myYellow);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: padding-box;
   min-height: 10px;
    width: 50px;  
}

.conv-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--color-myYellow2);
}

.conv-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--color-myYellow) transparent;
}



/* === Styles globaux personnalisés === */
:root {
  --font-sans: 'Poppins', sans-serif;
  font-family: var(--font-sans);

}



/* ===== Scrollbar globale ===== */

/* Chrome, Edge, Safari */
html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

/* 🌞 LIGHT MODE */
html::-webkit-scrollbar-thumb {
  background: var(--color-myBlack);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

/* Hover light */
html::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

/* 🌙 DARK MODE */
html.dark::-webkit-scrollbar-thumb {
  background: var(--color-myYellow);
}

html.dark::-webkit-scrollbar-thumb:hover {
  background: var(--color-myYellow2);
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--color-myBlack) transparent;
}

html.dark {
  scrollbar-color: var(--color-myYellow) transparent;
}